

.type__HeadingL {
    font-family: 'Inter';

    font-size: 77px;


}

.type__HeadingM {
    font-family: 'Inter';

    font-size: 29px;
    

}

.type__HeadingS {
    font-family: 'Inter';

    font-size: 24px;
    

}

.type__BodyS {
    font-family: 'Inter';

    font-size: 17px;
    

}